{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block content %}
{% if validUser %}
    <div>
        <p>order number: {{order.id}}</p>
        <p>{{order.date | date("Y-m-d H:i:s")}}</p>
            {% set productline = order.shoppingCart.productLines %}
            {% for a in productline %}
            <div id="history">  
                <p>{{a.product.name}}</p>
                {% set priceUnity = a.price / a.quantity %}       
                <p>price unity: {{priceUnity}}</p>
                <p>quantity: {{a.quantity}}</p>
                <p>price: {{a.price}}</p>                 
            </div>
            {% endfor %}
            <p>total price: {{totalprice}}</p>
        </div>
        {% else %}
        <p>unauthorized access!</p>
{% endif %}
{% endblock %}
