{% extends 'base.html.twig' %}

{% block title %}Home{% endblock title %}

{% block content %}
<h2 class="title">Home</h2>
  <p class="title">Bienvenue sur BeautyMeri  E-Commerce sur le maquillage</p>
{% endblock content %}
