{% extends 'base.html.twig' %}

{% block title %}User{% endblock %} 

{% block content %}

<table class="container">
    <tr>
        <br>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Number</th>
        <th>Street</th>
        <th>State</th>
        <th>Zipcode</th>
        <th>City</th>

        <th>Action</th>
    </tr>
    
    {% for row in user %}

    <tr>
        <td>
            <p>{{row.username}}</p>
        </td>
        <td>
            <p>{{row.email}}</p>
        </td>
        <td>
            {% if row.role %}
                <p>admin</p>
                {% else %}
                <p>user</p>

            {% endif %} 

        </td>

        <td>
                <p>{{row.zipcode}}</p>
        </td>
        <td>
            <p>{{row.number}}</p>
        </td>
        <td>
            <p>{{row.street}}</p>
        </td>
        <td>
            <p>{{row.state}}</p>
        </td>
        <td>
            <p>{{row.city}}</p>

        </td>
        <td><a href="{{path('remove_user', {id:row.id})}}"><i class="far fa-trash-alt"></i></a>
            <a href="{{path('edit_user', {id:row.id})}}"><i class="far fa-trash-alt"></i></a>
            </td>
    </tr>

    {% endfor %}

</table>

{% endblock %}