{% extends 'base.html.twig' %} 
{% block title %}Hello {{ controller_name }}!{% endblock %} 

{% block content %}

<h1>Dear {{activeUser.username}}</h1>

<div class="container d-flex">
    <section class="col-6">
       
        {# <form action="">
            <label for="username" class="block">Username : </label>
            <input type="text" id="username" value={{activeUser.username}}>
            <label for="email" class="block">email : </label>
            <input type="text" name="email" value={{activeUser.email}}>
            <label for="number" class="block">number : </label>
            <input type="text" value={{activeUser.number}} class="block">
            <label for="street" class="block"> street: </label>
            <input type="text" value={{activeUser.street}} class="block">
            <label for="zipcode" class="block">zipcode : </label>
            <input type="text" value={{activeUser.zipcode}} class="block">
            <label for="city">city : </label>
            <input type="text" value={{activeUser.city}} class="block">
            <label for="state">state : </label>
            <input type="text" value={{activeUser.state}} class="block">
            <input type="password" name="password" id="" class="block" value="{{activeUser.password}}">
            <button>Update</button>

        </form> #}
<h2>Your Data :</h2>

        {{form_start(form)}}
        {{form_widget(form)}}
        <button>Update</button>
        {{form_end(form)}}
    </section>
    <section class="col-6">
        <h2>Your previous order</h2>
        <div id="panel_order">
        {% for order in orders %}
        <p>order number: {{order.id}}, pass the {{order.date | date("Y-m-d H:i:s")}} <a class="btn" href="{{ path("order_history",{id : order.id}) }}">detail</a></p>
        {% endfor %}
        </div>
    </section>
</div>



{% endblock %}