{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block content %}

{{ form_start(categoryForm) }}

{{ form_row(categoryForm.name, {"attr": {"placeholder": "name of category"}}) }}

<button type="submit">
    {% if editMode %}
    edit category
    {% else %}
    add category
    {% endif %}
</button>

{{ form_end(categoryForm) }}

{% endblock %}
