/* -----------------scss base.html.twig------------------ */

/* navigateur */

.navbar {
  
  background-color: rgb(150, 179, 240);
  ul {
    padding: 0;
    margin: 0;
   
  }
  ul.navbar-items a {
    
    margin: 0px 25px;
    padding: 7px;
  }

   div.login {
   text-align: end;
  }

  /* content */
  .title {
    color: darkmagenta;
  }
}

/* Form */

.title {
  text-align: center;
}

/* footer */

footer.foot {
  background-color: rgb(128, 166, 248);
  .nav-footer {
    text-align: center;
  }
  .nav-footer li {
    display: inline-flex;
    list-style: none;
  }
  .nav-footer li p {
    margin: 0px;
  }
  #productLine {
    border-bottom: 1px solid black
  }
}

/* -----------------scss register/index.html.twig------------------ */

.register {
   display: table-caption;
   h3{

    text-align: center;
   }
  
  }





