{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block content %}

<form action="{{path('login')}}" method="post">
    <label>Username</label>
    <input type="username" name="_username">
    <label>Password:</label>
    <input type="password" name="_password">
  <button>Submit</button>
</form>

{% if error %}
<p>user or password incorrect</p>
{% endif %}

{% endblock content %}
