/* navigateur */
body {
  height: 100vh;
}

.navbar {
  background-color: rgb(128, 166, 248);

}

ul {
  padding: 0;
  margin: 0;
}

ul.navigateur a {
  margin: 0px 25px;
}

/* .connect {
  margin: 0px;
  padding: 0px;
} */

/* content */

.title {
 
  color: darkmagenta;
}

/* Form */



.title {
  text-align: center;
}

/* footer */

footer.container {
  background-color: rgb(128, 166, 248);

  
  
}

.nav-footer {
  text-align: center;
}

.nav-footer li {
  display: inline-flex;
  list-style: none;
}

.nav-footer li p {
  margin: 0px;
}

.block
{
  display: block;
}

/* add scss---------------------------------------------------------------------------------------------------- */
#productLine,#history {
  border-bottom: 1px solid black
}

.product {
  max-height: 500px;
  min-height : 500px;
}

.contenu-product {
  margin: 1% 0%;
}

.product-img {
  width: 100%;
  min-height: 150px;
}

.product-title {
  width: 100%;
  height: 150px;
}

.product-resume {
  width: 100%;
  height: 75px;
}

#panel_order {
  overflow: auto;
  max-height: 60vh;
}

.cart-text { 
  margin-left:5px 
}