{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block content %}
<div class="row">
{% for product in products %}
    <div class="col-lg-3 col-md-6 col-12 contenu-product">
        <div class="card product">
            <img class="card-img-top product-img" src="{{imageURI}}/{{product.image}}">
            <div class="card-body">
                <h3 class="card-title text-center product-title">{{product.name}}</h3>
                <p class="card-text product-resume">{{product.description|striptags|slice(0, 50) ~ "..." }}</p>
                <div class="d-flex flex-column">
                    <p class="card-text mx-auto">{{product.price}}$</p>
                    <a class="btn text-center mx-auto" href="{{ path("show_product", {id : product.id}) }}">view product</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
