{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block content %}
<section class="container">

        <h1>{{product.name}}</h1>

        <img src="{{imageURI}}/{{product.image}}">

        <p>{{product.description}}</p>

        <p>price:{{product.price}}</p>

        {% if app.user %}
            <form method="post">
                <input type="number" name="quantity">
                <button>add shopping cart</button>
            </form>
            {% else %}
            <p>Connexion or registration for acces shopping cart</p>
        {% endif %}
        
 
</section>
{% endblock %}
