{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block content %}
<div class="container row register ">
<h3>Register</h3>
{{form_start(form)}}
{{form_widget(form)}}
<button>Register</button>
{{form_end(form)}}

</div>
{% endblock %}
