{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
{% for row in productLine %}
    <div id="productLine">
    <p>{{row.product.name}}</p>
    <p>{{row.quantity}}</p>
    <p>{{row.price}}</p>
    <a class="btn" href="{{ path("remove_productLine", {"id": row.id}) }}">remove product</a>
    </div>
{% endfor %}
<p>total: {{totalPrice}}</p>

{% if verifCart %}
    <a class="btn" href="{{ path("order_adress") }}">order</a>
    <form method="POST">
        <button type="submit" class="btn">save cart</button>
    </form>
{% endif %}

{% endblock %}
